.DetailEpisode_container{
    padding: 20px 5% 50px 5%;
    // font-size: 1.5em;
    max-width: 1000px;
    margin: 0 auto;

}
.DetailEpisode_container h2{
    // font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
}
.DetailEpisode_container h3{
    padding-bottom: 10px;
}
.DetailEpisode_container p{
    padding-bottom: 10px;
}

.DetailEpisode_container details summary:hover{
    cursor: pointer;
}
.DetailEpisode_character_container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 5px;
    padding: 15px;
}

.go_back_container{
    padding-top: 20px;
}
.go_back{
    text-align: right;
    font-style: italic;
    color: cornflowerblue;
    padding: 5px 10px;
}
.go_back:hover {
    cursor: pointer;
    // font-size: 1.02em;
}

@media screen and (max-width: 1023px){
    .DetailEpisode_container{
        text-align: center;
    }
}
@media screen and (max-width: 767px){
    .DetailEpisode_character_container{
        grid-template-columns: repeat(5,1fr);
    }
}
@media screen and (max-width: 480px){
    .DetailEpisode_character_container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 320px){
    
}
