.DetailCharacter_container{
    padding: 20px 5%;
    // font-size: 1.5em;
    // margin-top: 120px;
}
.DetailCharacter_info_container {
    display: flex;
}
.DetailCharacter_figure{
    width: 50%;
    display: flex;
    justify-content: center;
}
.DetailCharacter_figure img{
    object-fit: cover;
    object-position: center;
    max-width: 400px;
    width: 100%;
}
.DetailCharacter_content{
    width: 50%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5px;
}
.DetailCharacter_content h2{
    padding: 10px 0px;
}
.DetailCharacter_episode_container{
    display: flex;
    flex-wrap: wrap;
}
.DetailCharacter_content details summary{
    cursor: pointer;
}
.DetailCharacter_summary{
    font-size: 1.5rem;
}
.go_back_container{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}
.go_back{
    text-align: right;
    font-style: italic;
    color: cornflowerblue;
    padding: 5px 10px;
}
.go_back:hover {
    cursor: pointer;
    // font-size: 1.02em;
}

@media screen and (max-width: 1023px){
    
}
@media screen and (max-width: 767px){
    .DetailCharacter_info_container {
        flex-direction: column;
        align-items: center;
    }
    .DetailCharacter_figure{
        width: 100%;
    }
    .DetailCharacter_content{
        width: 100%;
        align-items: center;
    }
}
@media screen and (max-width: 480px){

}
@media screen and (max-width: 320px){
    
}