.Location_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 50px 5%;
    margin-top: 120px;
}
.Location_container li {
    // height: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    opacity: 0;
    will-change: opacity, blur;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
