.Home_container{
    padding: 10px 15%;
    height: 470px;
}
.Home_container h1{
    font-size: 3rem;
    padding: 10px;
    text-align: center;
}

.Home_container p{
    font-size: 1.8rem;
}

@media screen and (max-width: 1023px){
    .Home_container{
        padding: 10px 10%;
    }   
}

@media screen and (max-width: 480px){
    .Home_container{
        padding: 10px 5%;
    } 
}

