.NotFound_container{
    padding: 30px;
    // margin: 50px;
    height: 500px;
    background-image: url('https://cdn.mos.cms.futurecdn.net/atVBoSvv6XmvWF2xmvcw3A-1200-80.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NotFound_container h1,
.NotFound_container h2 {
    background-color: rgba(20, 3, 13, 0.7);
    color: rgb(248, 240, 180);
}
@media screen and (max-width: 480px){
    .NotFound_container{
        height: 400px;
    }
}

